
.view {
    border: 1px solid black;
    width: 816px;
}
.border {
    border: 1px solid black,
}

.justify-text {
    text-align: justify !important;
}

.italic-text {
  display:inline;
  font-style: italic;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.initial {
  text-align: initial;
}

.text-grey {
  color: #949292;
}